body {
    font-family: Arial, sans-serif;
    background-color: rgb(198, 188, 188);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin: 25px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

form:not(h1) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.container {
    width: 80%;
    height: 60vh;
    max-width: 600px;
    margin: 20% auto;
    padding: 20px;
    background-color: #efdac0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: block;
    transition: all 0.3s ease-in-out;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;

}

input:focus, textarea:focus {
    outline: none;
    border-color: #ff7f50;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: green;
}

button:hover {
    background-color: rgb(79, 189, 79);
}

.radio-group input[type="radio"]:checked {
    appearance: none;
    background-color: green;
    border-color: green;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

.radio-group input[type="radio"]:checked + label {
  color: green;
}

input:first-of-type {
    border-radius: 8px 8px 0 0;
}

.radio-group label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #2d822f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}